[2022-10-17 09:40] rodmendoza07 opened #1 "MABE - Filtro de palabras"

[2022-10-17 09:54] rodmendoza07 opened #2 "Testa"
Description

[2022-10-17 10:00] #1 closed, assigned to rodmendoza07

[2022-10-17 10:00] #2 closed, assigned to LuisAlbertoOvercast

[2022-10-17 10:03] rodmendoza07 opened #3 "MABE - Filtro de palabras"

[2022-10-17 10:08] rodmendoza07 commented on #3
@LuisAlbertoOvercast / @Rambx

![Image](https://user-images.githubusercontent.com/18431533/196151042-924b7745-60f0-4229-8535-d8d8ccb7d056.png)

[2022-10-17 10:10] rodmendoza07 opened #4 "Banco de la Atlantida - Solicitud de Viáticos"

[2022-10-17 10:11] rodmendoza07 commented on #4
@doriansmmm / @Rambx

![Image](https://user-images.githubusercontent.com/18431533/196151669-df0d0132-bb2b-4cbf-a748-64fc458aba1c.png)
![Image](https://user-images.githubusercontent.com/18431533/196151728-224997d1-2c6d-4388-baf9-b0d3e0276a51.png)

[2022-10-17 10:16] rodmendoza07 opened #5 "Oxxo -Directorio de usuarios multitenant"

[2022-10-17 10:17] rodmendoza07 commented on #5
![Image](https://user-images.githubusercontent.com/18431533/196152858-02729ca8-76f2-47e9-8e9e-92043b295bba.png)

[2022-10-17 10:18] rodmendoza07 opened #6 "Oxxo - Flujo facturación"

[2022-10-17 10:21] rodmendoza07 opened #7 "Overcast - Viáticos"

[2022-10-17 10:21] rodmendoza07 opened #8 "Jugos del Valle - Reserva tu lugar"

[2022-10-17 10:21] rodmendoza07 opened #9 "ICA FLUOR - Company Comunicator"

[2022-10-17 10:21] rodmendoza07 opened #10 "Lala - Reserva tu lugar"

[2022-10-17 10:21] rodmendoza07 opened #11 "FIFCO - Rediseño app reserva tu lugar"

[2022-10-17 10:21] rodmendoza07 opened #12 "KOF - Fase 2 Digitalización de formatos"

[2022-10-17 10:21] rodmendoza07 opened #13 "KOF - Onboarding"

[2022-10-17 10:22] rodmendoza07 opened #14 "Banorte - Felicitaciones"

[2022-10-17 10:22] rodmendoza07 opened #15 "Qualitas - Gestor de Proyectos"

[2022-10-17 10:22] rodmendoza07 opened #16 "Sigma - Chatbot/Base de conocimientos"

[2022-10-17 10:22] rodmendoza07 opened #17 "MABE - Expediente Médico"

[2022-10-17 10:32] rodmendoza07 commented on #17
@doriansmmm / @Rambx

![Image](https://user-images.githubusercontent.com/18431533/196155828-7495b5f9-8bd6-44fd-bbee-61b2bdb50f9a.png)

[2022-10-17 10:41] rodmendoza07 commented on #16
@rramos9771 / @Rambx

![Image](https://user-images.githubusercontent.com/18431533/196157494-1102c7c5-c728-43f9-8e35-530fdee49fc4.png)
![Image](https://user-images.githubusercontent.com/18431533/196157534-0709f988-3cd5-459a-9f43-127097dd6755.png)

[2022-10-17 10:42] rodmendoza07 opened #18 "Cinépolis - CheckOps"

[2022-10-17 10:43] rodmendoza07 commented on #18
@lalonso-dac / @Rambx

![Image](https://user-images.githubusercontent.com/18431533/196157877-c260ca13-e872-489a-9627-8f73e9682857.png)
![Image](https://user-images.githubusercontent.com/18431533/196158002-53137942-7897-4572-8815-4e3d8f50deb6.png)

[2022-10-17 10:48] rodmendoza07 opened #19 "Xignux - Calendario personalizado"

[2022-10-17 10:52] rodmendoza07 opened #20 "Sanborns - Tickets"
Proyecto Azure DevOps:
https://dev.azure.com/overcastmx/Sanborns%20-%20Sears

[2022-10-17 10:54] rodmendoza07 commented on #20
@LuisAlbertoOvercast / @Rambx

![Image](https://user-images.githubusercontent.com/18431533/196159725-a6666dd2-03e0-48de-96c3-8bad70460615.png)
![Image](https://user-images.githubusercontent.com/18431533/196159804-3849cc10-5272-4417-9c3f-e96cfcc0d514.png)
![Image](https://user-images.githubusercontent.com/18431533/196159873-50d012cb-5ed6-438c-8bb9-21cc9e08e327.png)

[2022-10-17 10:55] rodmendoza07 opened #21 "Pemex - Overcommunicator"

[2022-10-17 10:56] rodmendoza07 commented on #21
@LuisAlbertoOvercast / @Rambx

![Image](https://user-images.githubusercontent.com/18431533/196160209-b9d3c4e7-6e0e-4f3e-ae6c-2e16adaea792.png)

[2022-10-17 11:01] rodmendoza07 opened #22 "Overcast - App Minutas"

[2022-10-17 11:03] rodmendoza07 opened #23 "Cinépolis - Master Audit"

[2022-10-17 11:04] rodmendoza07 opened #24 "MiBanco - Reserva tu lugar"

[2022-10-17 11:06] rodmendoza07 commented on #24
@rramos9771 / @Rambx

![Image](https://user-images.githubusercontent.com/18431533/196161868-c943052b-7622-4259-990f-36a00745b5f1.png)
![Image](https://user-images.githubusercontent.com/18431533/196161943-f837447d-ff16-43b1-8ba8-b12aabf55c61.png)
![Image](https://user-images.githubusercontent.com/18431533/196161989-efdca6a8-8aa0-43bf-b91d-03875d5e563e.png)

[2022-10-17 11:08] rodmendoza07 opened #25 "MABE - Viva/Overcommunicator"

[2022-10-17 11:08] rodmendoza07 commented on #25
@LuisAlbertoOvercast / @Rambx

![Image](https://user-images.githubusercontent.com/18431533/196162405-4823d222-d8c4-4ac0-9560-b3462744654c.png)

[2022-10-17 11:10] rodmendoza07 opened #26 "Overcast - App Reconocimientos"

[2022-10-17 11:11] rodmendoza07 opened #27 "CFE - Overcommunicator"

[2022-10-17 11:12] rodmendoza07 commented on #27
@LuisAlbertoOvercast / @Rambx

![Image](https://user-images.githubusercontent.com/18431533/196162888-1ea23f9f-d2a6-4bb0-90a5-31d87bcd9da5.png)
![Image](https://user-images.githubusercontent.com/18431533/196162938-caecc505-25d7-489c-ae5b-665c5c9ae94c.png)

[2022-10-17 11:14] rodmendoza07 opened #28 "Droguerías Arrocha - Company Communicator"

[2022-10-17 11:16] rodmendoza07 commented on #28
@lalonso-dac / @Rambx

![Image](https://user-images.githubusercontent.com/18431533/196163561-28494180-a6d0-4b0b-a33b-f68d1116bdfc.png)
![Image](https://user-images.githubusercontent.com/18431533/196163602-541cd9ec-9c73-4294-b554-1bef12d9abe4.png)

[2022-10-17 11:18] rodmendoza07 opened #29 "Overcast - Tickets"

[2022-10-17 11:20] rodmendoza07 opened #30 "Overcast - Overdesk"

[2022-10-17 11:21] rodmendoza07 commented on #30
@lalonso-dac / @Rambx

![Image](https://user-images.githubusercontent.com/18431533/196164507-35436bc1-150b-4b5f-bcd6-1512438dd334.png)

[2022-10-17 11:21] rodmendoza07 opened #31 "Niubiz - Reserva tu lugar"

[2022-10-17 11:22] rodmendoza07 commented on #31
@LuisAlbertoOvercast / @Rambx

![Image](https://user-images.githubusercontent.com/18431533/196164775-7eb15ebb-e0ad-423c-8bd4-bfe91994dfce.png)

[2022-10-17 11:24] rodmendoza07 opened #32 "San Martín - Helpdesk"

[2022-10-17 11:25] rodmendoza07 commented on #32
@doriansmmm / @Rambx

![Image](https://user-images.githubusercontent.com/18431533/196165288-97db7d34-ecf1-4b47-9e34-aef4213374ab.png)
![Image](https://user-images.githubusercontent.com/18431533/196165359-a21c4406-dd6a-48e9-8995-5d33b1865d65.png)

[2022-10-17 11:26] rodmendoza07 opened #33 "Xignux - Reserva tu lugar"

[2022-10-17 11:27] rodmendoza07 commented on #33
@rramos9771 / @Rambx

![Image](https://user-images.githubusercontent.com/18431533/196165703-d8b027fd-1674-48b2-abb1-1458c4d65357.png)

[2022-10-17 11:29] rodmendoza07 opened #34 "Posadas - Formularios"

[2022-10-17 11:31] rodmendoza07 commented on #34
@rramos9771 / @Rambx

![Image](https://user-images.githubusercontent.com/18431533/196166331-73beb624-5912-4c53-919e-e87a7cd713b6.png)
![Image](https://user-images.githubusercontent.com/18431533/196166398-edb360ba-d7a7-46d9-8ca4-abf08b9ef0d2.png)
![Image](https://user-images.githubusercontent.com/18431533/196166464-33bc43a2-677a-4dca-b31f-25dfe5fa2322.png)

[2022-10-17 11:33] rodmendoza07 opened #35 "FIFCO - Reserva tu lugar"

[2022-10-17 11:33] rodmendoza07 commented on #35
@lalonso-dac / @Rambx

![Image](https://user-images.githubusercontent.com/18431533/196166859-82fd3548-2501-4fea-97fe-08d66325d4b4.png)

[2022-10-17 11:38] rodmendoza07 opened #36 "Solistica"

[2022-10-17 11:39] rodmendoza07 commented on #36
@LuisAlbertoOvercast / @Rambx

![Image](https://user-images.githubusercontent.com/18431533/196167794-9a212e20-f6c7-4edf-b52e-567da46f5a41.png)

[2022-10-17 11:40] rodmendoza07 opened #37 "Santander - Mentoring Power Platform"

[2022-10-17 11:42] rodmendoza07 commented on #37
@lalonso-dac / @Rambx

![Image](https://user-images.githubusercontent.com/18431533/196168114-b03a3809-cf5c-4a23-bb20-e2074d763dc4.png)
![Image](https://user-images.githubusercontent.com/18431533/196168192-7871eec6-0e20-4060-8035-ef19db8e0b0a.png)
![Image](https://user-images.githubusercontent.com/18431533/196168263-ab897014-e4ba-4d40-aa32-c51ed03dbe7a.png)
![Image](https://user-images.githubuserco

[2022-10-17 11:43] rodmendoza07 opened #38 "Oxxo - Mentoring"

[2022-10-17 11:43] rodmendoza07 commented on #38
@lalonso-dac / @Rambx

![Image](https://user-images.githubusercontent.com/18431533/196168579-b5683a8b-6c08-43d9-9f78-109fa31fd704.png)

[2022-10-17 11:45] rodmendoza07 opened #39 "Instituto de la Propiedad - Gestión de tickets"

[2022-10-17 11:45] rodmendoza07 commented on #39
@doriansmmm / @Rambx

![Image](https://user-images.githubusercontent.com/18431533/196168999-b81b4350-840d-47ef-a265-d07b3e838d93.png)

[2022-10-17 11:47] rodmendoza07 opened #40 "Fundación Rafael Dondé"

[2022-10-17 11:47] rodmendoza07 commented on #40
@LuisAlbertoOvercast / @Rambx

![Image](https://user-images.githubusercontent.com/18431533/196169249-c5552d41-f6ed-4ede-ae7d-5bc9fcda6a09.png)

[2022-10-17 11:48] rodmendoza07 opened #41 "Laboratorios PiSA"

[2022-10-17 11:49] rodmendoza07 commented on #41
@LuisAlbertoOvercast / @Rambx

![Image](https://user-images.githubusercontent.com/18431533/196169654-373c03c2-0d81-4938-8e81-afbe4179d8d4.png)

[2022-10-17 11:49] rodmendoza07 opened #42 "Cuestamoras"

[2022-10-17 11:50] rodmendoza07 commented on #42
@doriansmmm / @Rambx

![Image](https://user-images.githubusercontent.com/18431533/196169893-91fe6278-0d19-4e3c-bbac-d147ec811583.png)

[2022-10-17 11:51] rodmendoza07 opened #43 "KOF - Company Communicator"

[2022-10-17 11:51] rodmendoza07 commented on #43
@Rambx

![Image](https://user-images.githubusercontent.com/18431533/196170096-43602bb5-cd37-4f87-b175-2be412d64f49.png)

[2022-10-17 11:53] rodmendoza07 opened #44 "Coppel - Intranet"
Acceso a manual de identidad

![Image](https://user-images.githubusercontent.com/18431533/208556902-a1627a63-c6c5-4245-bf2b-6e1b87fd6c06.png)

[2022-10-17 11:54] rodmendoza07 commented on #44
@Rambx

![Image](https://user-images.githubusercontent.com/18431533/196170645-6b418352-f2aa-4326-aa34-222a0cadfdb2.png)

[2022-10-17 11:55] rodmendoza07 opened #45 "INEGI - Overcommunicator"

[2022-10-17 11:56] rodmendoza07 commented on #45
@Rambx

![Image](https://user-images.githubusercontent.com/18431533/196170897-3288b481-e9d4-42b8-934f-01c22ef30cf2.png)
![Image](https://user-images.githubusercontent.com/18431533/196170955-17c5fa06-5651-40e3-9b8a-3835e9505a19.png)

[2022-10-17 11:57] rodmendoza07 opened #46 "ITESM - Flujo de procesos con documentos / Gestor documental"

[2022-10-17 11:58] rodmendoza07 commented on #46
@Rambx

![Image](https://user-images.githubusercontent.com/18431533/196171373-3fef466b-fd11-4c54-ad85-7c9f1cde6307.png)

[2022-10-17 11:59] rodmendoza07 opened #47 "KOF - Chat Bot"
Nueva arquitectura: https://sifragc-my.sharepoint.com/:u:/g/personal/rodrigo_mendoza_overcastmx_com/EZmMod0Ehd9MvzpzcH6Z76EBpm0S1DJJpbXZu0B287IfLA?e=eqsMDY

[2022-10-17 11:59] rodmendoza07 commented on #47
@Rambx

![Image](https://user-images.githubusercontent.com/18431533/196171691-61515441-28e6-4da7-913a-c51ebbd43b1c.png)

[2022-10-17 12:01] rodmendoza07 opened #48 "Ministerio de Agricultura y Ganadería (MAG) - Company Communicator"
Proyecto Azure DevOps:
https://dev.azure.com/overcastmx/MAG%20-%20Company%20Communicator

Azure Pass
https://dev.azure.com/overcastmx/MAG%20-%20Company%20Communicator/_wiki/wikis/MAG---Company-Communicator.wiki/29/Azure-Pass?anchor=**qpjb85otjq5njffe6x**

[2022-10-17 12:02] rodmendoza07 commented on #48
@Rambx

![Image](https://user-images.githubusercontent.com/18431533/196172116-642219ed-03a4-4c30-b8a4-60f167913b0a.png)
![Image](https://user-images.githubusercontent.com/18431533/196172184-7463b014-1b18-43d8-9201-510e8726ff95.png)
![Image](https://user-images.githubusercontent.com/18431533/196172218-aa460c02-b2b3-4b19-b01e-52a4013c41cd.png)

[2022-10-17 12:03] rodmendoza07 opened #49 "CUPRUM - intranet con viva conections"

[2022-10-17 12:03] rodmendoza07 commented on #49
@Rambx

![Image](https://user-images.githubusercontent.com/18431533/196172443-874f69de-709b-45ae-8df5-9c8e60b10cd6.png)

[2022-10-17 12:04] #49 closed, assigned to rodmendoza07, Rambx

[2022-10-17 12:04] rodmendoza07 opened #50 "Claro Colombia - Registro de Llamadas"

[2022-10-17 12:05] rodmendoza07 commented on #50
@Rambx

![Image](https://user-images.githubusercontent.com/18431533/196172725-31403c9b-fe70-4094-8808-ea9f2cb57ae6.png)

[2022-10-17 12:05] #50 closed, assigned to rodmendoza07, Rambx

[2022-10-17 12:06] rodmendoza07 opened #51 "Aeromexico - Process Maker to Power Automate"

[2022-10-17 12:06] rodmendoza07 commented on #51
@Rambx

![Image](https://user-images.githubusercontent.com/18431533/196172980-608fbc8e-7152-445b-b537-44a69058d4b9.png)

[2022-10-17 12:06] #51 closed, assigned to rodmendoza07, Rambx

[2022-10-17 12:07] rodmendoza07 opened #52 "PPG"

[2022-10-17 12:08] rodmendoza07 commented on #52
@Rambx

![Image](https://user-images.githubusercontent.com/18431533/196173232-295496f9-99c9-4265-9f8e-afd17a1b8791.png)

[2022-10-17 12:08] #52 closed, assigned to rodmendoza07, Rambx

[2022-10-17 12:09] rodmendoza07 opened #53 "MABE - Universidad"

[2022-10-17 12:09] rodmendoza07 commented on #53
@rodmendoza07

![Image](https://user-images.githubusercontent.com/18431533/196173418-03635b5b-276d-4e0f-80fa-230da7faed2a.png)

[2022-10-17 12:09] #53 closed, assigned to rodmendoza07, Rambx

[2022-10-17 12:10] rodmendoza07 opened #54 "CRECER- Reserva tu lugar"

[2022-10-17 12:11] rodmendoza07 commented on #54
@Rambx

![Image](https://user-images.githubusercontent.com/18431533/196173811-dc6e30f5-80dd-4258-9e04-bf2b6016bca5.png)
![Image](https://user-images.githubusercontent.com/18431533/196173884-1ed01188-e17a-4e6b-9a1a-b42f25f3d002.png)

[2022-10-17 12:11] #54 closed, assigned to rodmendoza07, LuisAlbertoOvercast, Rambx

[2022-10-17 12:14] rodmendoza07 opened #55 "MOPT - Registro de marcas"

[2022-10-17 12:14] rodmendoza07 commented on #55
@Rambx

![Image](https://user-images.githubusercontent.com/18431533/196174402-2bcdfa70-b50e-4486-a8c4-3842b733ed22.png)
![Image](https://user-images.githubusercontent.com/18431533/196174539-7c8eaf39-997d-41f6-87fb-4a332cec1ff4.png)

[2022-10-17 12:15] #55 closed, assigned to rodmendoza07, Rambx

[2022-10-17 12:17] rodmendoza07 opened #56 "Besalco - Intranet con Viva Connections"

[2022-10-17 12:17] rodmendoza07 commented on #56
@Rambx

![Image](https://user-images.githubusercontent.com/18431533/196174885-981b94d6-ccff-466c-a906-9c7783715387.png)

[2022-10-17 12:17] #56 closed, assigned to rodmendoza07, Rambx

[2022-10-17 12:18] rodmendoza07 opened #57 "MABE - Reserva tu lugar FASE 3"

[2022-10-17 12:20] rodmendoza07 commented on #57
@Rambx

![Image](https://user-images.githubusercontent.com/18431533/196175365-09a5ff26-9226-4ac8-be09-1029f3dcaa8b.png)
![Image](https://user-images.githubusercontent.com/18431533/196175441-66eac96b-7945-45f1-b9cb-6c0ea5758450.png)
![Image](https://user-images.githubusercontent.com/18431533/196175537-2d77016e-4c32-4c75-81ee-6a9d3239eb7c.png)

[2022-10-17 12:21] #57 closed, assigned to rodmendoza07, LuisAlbertoOvercast, Rambx

[2022-10-17 12:23] rodmendoza07 opened #58 "IZZI - App Felicitaciones"

[2022-10-17 12:24] rodmendoza07 commented on #58
@Rambx

![Image](https://user-images.githubusercontent.com/18431533/196176162-61b11f3c-b40d-40d5-aea7-903d44b66464.png)

[2022-10-17 12:24] #58 closed, assigned to rodmendoza07, rramos9771, Rambx

[2022-10-17 12:25] rodmendoza07 opened #59 "CEMEX - Company Communicator"

[2022-10-17 12:26] rodmendoza07 commented on #59
@Rambx

![Image](https://user-images.githubusercontent.com/18431533/196176658-7e39d018-90a1-45dd-ae4c-3f882e59d1fc.png)
![Image](https://user-images.githubusercontent.com/18431533/196176707-5d0ff9b6-2b31-469d-931b-0b7cf61dd319.png)

[2022-10-17 12:28] #59 closed, assigned to rodmendoza07, LuisAlbertoOvercast, Rambx

[2022-10-17 12:30] rodmendoza07 opened #60 "Constructura MECO - Company Communicator"

[2022-10-17 12:30] rodmendoza07 commented on #60
@Rambx

![Image](https://user-images.githubusercontent.com/18431533/196177439-333b8b04-0487-425a-83c7-07796bc2c66f.png)

[2022-10-17 12:32] rodmendoza07 opened #61 "KOF My KOF PLACE FASE II - Reserva tu lugar"

[2022-10-17 12:32] rodmendoza07 commented on #61
@Rambx

![Image](https://user-images.githubusercontent.com/18431533/196177798-51e2b508-006a-4730-a5fe-de1b56749a60.png)
![Image](https://user-images.githubusercontent.com/18431533/196177844-2239fea2-ca28-4c0c-84fd-ab215e46489a.png)

[2022-10-17 12:33] #61 closed, assigned to rodmendoza07, doriansmmm, Rambx

[2022-10-17 14:32] rodmendoza07 commented on #31
@Rambx / @LuisAlbertoOvercast

Dado que el cliente no contesto desde el 11/10 se pasa de soporte a terminado

[2022-10-17 14:33] #31 closed, assigned to rodmendoza07, LuisAlbertoOvercast, Rambx

[2022-10-17 16:11] rodmendoza07 commented on #47
@rramos9771 / @Rambx

Sesión con cliente jueves 20

[2022-10-17 20:50] Rambx commented on #6
La conversación que proporciona Gael es:

[03:42 p. m.] Obed Gael Pérez Prieto
Ya lo tiene Maidem amigo... ya lo está gestionando... en cuanto nos diga Maidem a comercial que ya nos den Go.

[03:42 p. m.] Ruben Abraham Mendoza Betancourt
perfecto, duda ya no se requiere hacer una reunión

[03:42 p. m.] Ruben Abraham Mendoza Betancourt
?

[03:42 p. m.] Ruben Abraham Mendoza Betancourt
o despues hac

[2022-10-17 20:51] Rambx commented on #7
El seguimiento con Daniela de Overcast , se va a ejecutar una reunión de alineación nuevamente de la app. para el día martes 18 de Octubre.

[2022-10-17 20:51] Rambx commented on #7
El seguimiento con Daniela de Overcast , se va a ejecutar una reunión de alineación nuevamente de la app. para el día martes 18 de Octubre.

[2022-10-17 21:21] Rambx commented on #4
Comentarios de Omar del día 17/10

De: Luis Omar Ramírez Ortíz <ramirez.omar@overcastmx.com>
Enviado el: lunes, 17 de octubre de 2022 04:04 p. m.
Para: Erika Nohemí Aguilar Carbajal <eaguilar@overcastmx.com>; Claudia Marcela Nunez Galvez <cmnunez@bancatlan.hn>; Ivan Zuniga Orban <izuniga@bancatlan.hn>; Hector David Gallegos Aviles <hgallegos@bancatlan.hn>; Elsy Pamela Montalvan <epmontalvan@bancat

[2022-10-18 17:56] rodmendoza07 opened #62 "tarea nueva"

[2022-10-18 18:02] rodmendoza07 commented on #62
## UML diagrams

You can render UML diagrams using [Mermaid](https://mermaidjs.github.io/). For example, this will produce a sequence diagram:

[code]

[2022-10-19 16:15] Rambx commented on #35
@hreyesoc  es asignada al proyecto de Fifco en la solución del Desarrollo

[2022-10-19 16:56] Rambx opened #63 "Bimbo - Graph"

[2022-10-19 16:57] Rambx commented on #63
[11:37 a. m.] Rodrigo Mendoza
https://overcastmx@dev.azure.com/overcastmx/Bimbo/_git/BimboPS

Credenciales de la cuenta
**obed.perez@gbsupport.net
0ff1c3.C1b24**

[2022-10-19 16:58] Rambx commented on #63
Proyecto asignado a Rafa para la solución del problema ..

![Image](https://user-images.githubusercontent.com/115195515/196756237-00f07c49-bfb7-45bf-80b6-a051e36e7c89.png)

[2022-10-20 15:10] rodmendoza07 commented on #27
@LuisAlbertoOvercast / @Rambx

El viernes se tendrá sesión para saber que paso con los cambios del 11 de octubre

[2022-10-20 21:50] rodmendoza07 commented on #26
@rramos9771 / @Rambx

Ya lo puedo cerrar?

[2022-10-20 21:54] rodmendoza07 commented on #28
@lalonso-dac / @Rambx

Que ha pasado?
Ya lo podemos cerrar?

[2022-10-20 21:55] rodmendoza07 commented on #34
@rramos9771 / @Rambx

Qué ha pasado?
Ya lo podemos cerrar?

[2022-10-20 21:57] rodmendoza07 commented on #37
@lalonso-dac / @Rambx

Que ha pasado?
En que sesión va?

Cuál es la fecha de termino?

[2022-10-20 21:58] rodmendoza07 commented on #44
@Rambx

Hay que darle toque al cliente por favor

[2022-10-20 22:11] rodmendoza07 commented on #45
@Rambx

Me ayudas con esta cuenta, para saber si ya la cerramos o no

[2022-10-21 00:02] rodmendoza07 commented on #26
Dice @rramos9771  que se puede cerrar

[2022-10-21 00:02] #26 closed, assigned to rodmendoza07, rramos9771, Rambx

[2022-10-21 03:00] Rambx commented on #44
Anexo correo de Pablo de seguimiento. @rodmendoza07

![Image](https://user-images.githubusercontent.com/115195515/197101238-9e76475d-ef08-48b6-94c1-e60dd94d9108.png)

[2022-10-21 03:10] Rambx commented on #37
C.C. @lalonso-dac / @rodmendoza07

Nos encontramos en la sesión número 12 de un total de 20... recordando que las primeras 3 sesiones no se entregaron y se estarán realizando al final.

[2022-10-21 03:18] Rambx commented on #34
@rramos9771  / @rodmendoza07
Hola les comparto el correo que mandó Mario como apoyo en seguimiento a la cuenta.

![Image](https://user-images.githubusercontent.com/115195515/197103514-20becc49-4614-4008-97d4-f4cb2da753b5.png)

[2022-10-21 04:18] Rambx commented on #43
@rodmendoza07
Hola comparto el último estatus que tenemos de KOF - CC Centroamerica

![Image](https://user-images.githubusercontent.com/115195515/197110864-88a6fdf0-1883-43b7-b68f-42dfc1c7a287.png)

[2022-10-21 16:41] LuisAlbertoOvercast commented on #27
@rodmendoza07 / @Rambx

![Image](https://user-images.githubusercontent.com/101677829/197246415-582240ab-ab3d-4e1a-857f-b31e26752a2a.png)

status de lo que se tuvo hoy en la sesión de CFE

[2022-10-21 16:44] LuisAlbertoOvercast commented on #3
el día de ayer se levantó ticket con el paquete de horas, en espera de la respuesta para tener la sesión con los ingenieros

![Image](https://user-images.githubusercontent.com/101677829/197246999-7fe719f4-a372-4990-bfbf-02bc4a3a4764.png)

[2022-10-21 16:47] LuisAlbertoOvercast commented on #25
el día de ayer se tuvo sesión con el administrador de teams, comento que no han podido darnos los grupos de seguridad con correo por que el equipo tiene otro tema, en la sesión se realizó grupos de seguridad con correo habilitado para las pruebas de envió de notificación por correo. se crearon 5

![Image](https://user-images.githubusercontent.com/101677829/197247571-6d720f6a-ac0b-4b5f-b763-6abc45d

[2022-10-21 16:48] LuisAlbertoOvercast commented on #40
el cliente ya dio el GO para la implementación se mandaron horarios para realizar la implementación del company, en espera de respuesta a los horarios en los cuales podemos tener esta sesión de trabajo

[2022-10-21 16:49] Rambx opened #64 "KOF - Digitalización de Formatos"

[2022-10-21 21:20] rodmendoza07 commented on #8
@doriansmmm / @Rambx

Este proyecto debe ser igual al Reserva tu lugar de KOF

[2022-10-21 21:23] doriansmmm commented on #8
muy bien

[2022-10-21 21:31] doriansmmm commented on #8
¿Cuáles son las credenciales?

¿Ya puedo comenzar el día lunes?

@rodmendoza07

[2022-10-21 21:32] doriansmmm commented on #64
@Rambx ¿Cuál es el error?

[2022-10-21 21:34] doriansmmm commented on #11
@rodmendoza07 ¿Necesitan de mi ayuda?

[2022-10-21 21:34] rodmendoza07 commented on #8
@doriansmmm / @Rambx

En teoría comenzamos el día lunes, por favor @Rambx  ayudame enviando un correo a los involucrados para presentarnos como área de desarrollo y en ese mismo correo por favor incluir lo que necesitamos de parte de Jugos del Valle.

Hay que hacer HU's para este proyecto por favor. El Azure DevOps ya esta creado.

[2022-10-21 21:38] doriansmmm commented on #5
¿Cuándo es la siguiente sesión?

¿Cúando se empieza el desarrollo?

@Rambx @rodmendoza07

[2022-10-21 21:41] rodmendoza07 commented on #5
@doriansmmm / @Rambx

¿Cuándo es la siguiente sesión?
**No tenemos fecha, ¿Cuáles son tus dudas?**

¿Cúando se empieza el desarrollo?
**Formalmente el 7 de noviembre, sin embargo ya debemos estar trabajando en la API para consumir los usuarios de AAD**

[2022-10-24 16:13] Rambx commented on #46
@rodmendoza07

De la reunión de Lunes de Sync Comercial, Luis Omar comentó que el cliente ya no responde , damos por cerrada la propuesta.

[2022-10-24 17:59] doriansmmm commented on #35
@Rambx @rodmendoza07
ya se reestableció el mfa para que @doriansmmm y @hreyesoc puedan ingresar con su app de autenticación

[2022-10-24 20:55] #46 closed, assigned to rodmendoza07, Rambx

[2022-10-24 21:25] Rambx opened #65 "Oxxo - Bolsa de Horas"

[2022-10-26 11:11] Rambx commented on #28
@rodmendoza07  @lalonso-dac

El día 26/10 comentó Gael que se revisará ell tema con Comercial para saber siguientes pasos, como se estará  costeando  próximos pasos a la cuenta.

[2022-10-27 20:16] rodmendoza07 opened #66 "ETED - App Expedientes"
Preventa para horas de soporte

[2022-10-27 20:19] rodmendoza07 opened #67 "KOF - Assessment"

[2022-10-28 15:09] lalonso-dac commented on #37
El día Lunes 17 de Octubre se realizó la sesión en la que se dió una introducción a PowerBi  usando material Didactico explicando como funciona powerBi de forma general

[2022-10-28 15:10] lalonso-dac commented on #37
El día Miercoles 19 de Octubre se realizó la sesión en la que se habló de como hacer transformación de datos usando como base un archivo excel, se habló de las distintas fuentes de datos con las que cuenta Power bi para obtener información, y hablamos un poco de Dax

[2022-10-28 15:13] lalonso-dac commented on #37
El día Viernes 21de Octubre se continuó hablando de dax, y como crear columnas y medidas, tambien sus diferencias, crear columnas condicionales, crear vistas y como agregar, customizar, y dar diseño a los dashboard, se creó un tablero con un reporte de filtrado por Pais, continente, productos, tipos de producto, Ingresos, gastos, y finalizando haciendo la carga en Power Bi service, accediendo por

[2022-10-28 15:16] lalonso-dac commented on #37
El día Lunes 24 de Octubre se comenzó el tema de Ai builder, probamos la funcionalidad para entrenar un modelo usando la opción de entrenar modelo customizado para extracción de información de formularios, entrenamos el modelo con Facturas, y otro modelo con estados de cuenta de Santander, finalizando con una prueba desde Power Automate, leyendo correos e identificando la información de los correo

[2022-10-28 15:18] lalonso-dac commented on #37
El día Miercoles 1926 de Octubre se  probaron las formas de extraer datos desde modelos haciendo uso de imagenes, y probando componentes desde power Apps, los modelos se usaron para validar la información de los formularios finalizando las pruebas con una demo desde power Apps y power Automate

[2022-10-28 15:22] lalonso-dac commented on #37
El día Viernes 21 de Octubre se crearon modelos de "reconocimiento de texto en imagenes", "reconocimento de texto en tikets", "extracción de texto en identificaciones", se creó una demo desde Power Apps, usando los componentes y conectando modelos, mostrando la data en tables, labels, en power Apps

[2022-10-28 15:35] lalonso-dac commented on #37
## nuevas sesiónes Agendadas

el día lunes  24/10/2022 se compartieron nuevas sesiónes

![Image](https://user-images.githubusercontent.com/88047449/198675122-c160502b-a227-455d-95cb-ca0b5ca5c770.png)

A continuación se adjuntan los links para el acceso a las sesiones

[Ligas de acceso para sesiones Power Apps Santander.docx](https://github.com/OvercastmxDemo/DevProjects/files/9889813/Ligas.de.acce

[2022-10-28 16:38] lalonso-dac commented on #18
## Creación de modulo Plan de Acción

del Lunes 10  de ocutbre al 21 Viernes se crearon las vistas en power Apps para registrar Vistas de enfoque y en el modulo de plan de acción, y registros directos a la lista de sharepoint de plan de acción

[2022-10-28 16:41] lalonso-dac commented on #18
## Creacción  de Tablero en Power BI

El día 27 de Octubre se integra el tablero de Power Bi el cual filtra los registros de plan deacción por Responsable, Cine, Area, Tipo de Auditoría, fecha y estatus,

Pendientes
-Se ejecutarán pruebas desde Teams y power Apps

- Se ejecutarán pruebas desde Disppositivos moviles para probar

[2022-10-28 19:35] rodmendoza07 commented on #48
Debido a que no somos CPOR de MAG en Teams App y Platform, se quita la etiqueta de CPOR

![Image](https://user-images.githubusercontent.com/18431533/198718166-bee15c15-ab50-460d-a199-35aa6662f318.png)

[2022-10-28 19:39] rodmendoza07 commented on #42
El desarrollo implementado fue un CC y se ha cumplido con la métrica

![Image](https://user-images.githubusercontent.com/18431533/198718759-25faa7b7-185d-4b3f-8d68-926cc9dcc95b.png)

[2022-10-28 19:42] rodmendoza07 commented on #60
@Rambx Revisar como está registrada constructora MECO en el partner center

[2022-10-28 19:43] rodmendoza07 commented on #41
Se alcanzo la métrica

![Image](https://user-images.githubusercontent.com/18431533/198719355-3cf5ae44-ef70-4e8f-b85f-f1a4d3cc1fda.png)

[2022-10-28 19:45] rodmendoza07 commented on #40
Se ha llegado a la métrica

![Image](https://user-images.githubusercontent.com/18431533/198719656-9e2aed57-8bae-44b7-aa74-49173b9c6672.png)

[2022-10-28 19:47] rodmendoza07 commented on #39
No se ha llegado a la métrica 40% disponible

![Image](https://user-images.githubusercontent.com/18431533/198720179-9ff7a9d8-975c-4060-9e81-9bc5efaabca3.png)

[2022-10-28 19:54] rodmendoza07 commented on #34
Tiene disponible el 40%

![Image](https://user-images.githubusercontent.com/18431533/198721273-edebc905-2653-4073-91b9-23c46c7d8e1b.png)

[2022-10-28 19:55] rodmendoza07 commented on #32
Se alcanzaron las métricas.

![Image](https://user-images.githubusercontent.com/18431533/198721402-36fb25f4-08b2-46c0-bc76-307b553a167a.png)

[2022-10-28 20:02] rodmendoza07 commented on #28
No se ha llegado al 40% de la métrica

![Image](https://user-images.githubusercontent.com/18431533/198722430-4fde5875-b692-4566-a6ae-cc5bbed0b47f.png)

[2022-10-28 20:10] rodmendoza07 commented on #24
@rramos9771 / @Rambx

¿Qué ha pasado?
¿Ya lo podemos cerrar?

[2022-10-28 20:10] rodmendoza07 commented on #19
@rramos9771 / @Rambx

¿Qué ha pasado?
¿Ya lo podemos cerrar?

[2022-10-29 06:48] rodmendoza07 commented on #64
@Rambx ¿Cómo se financió esta aplicación?

[2022-10-29 09:51] rodmendoza07 opened #68 "San Martín - Helpdesk V2.0"

[2022-10-29 20:48] rodmendoza07 commented on #49
En la última sesión se menciono que Luis Alberto Martínez tocaría base con el cliente para darle continuidad al proyecto. Pero debido a qué es un proyecto de Viva Conexiones el proyecto se queda en Removidos

[2022-10-31 15:25] rramos9771 commented on #19
Ya se dio la transferencia de conocimientos.
Ya no se debe nada de nuestra parte
ya se podría cerrar.

[2022-10-31 15:26] rramos9771 commented on #24
Aun no se termina de configurar el nuevo entorno, falta que david termine la configuración para liberar la app y ya se podría cerrar.

[2022-10-31 16:12] rodmendoza07 commented on #48
Se cierra el proyecto ya que no tenemos respuesta de comercial sobre cómo vamos a financiar la nueva implementación.

[2022-10-31 16:12] #48 closed, assigned to rodmendoza07, Rambx

[2022-10-31 16:21] Rambx commented on #28
En sesión del 31/10 Miguel comenta que revisara y contactará a cliente para saber como desplegar el 40%. Nos estará dando comentarios.

[2022-10-31 16:31] rodmendoza07 commented on #40
@LuisAlbertoOvercast / @Rambx

¿Cuándo fue que se desplego en la suscripción del cliente?

[2022-10-31 17:13] LuisAlbertoOvercast commented on #40
@rodmendoza07   @Rambx

**

![Image](https://user-images.githubusercontent.com/101677829/199067076-72af2c05-e6e0-4dae-bc1d-2f3afc3db437.png)

**

aun no se hace el despliegue en la suscripción con el cliente, la última sesión que se tuvo se desinstalo el company del azure pass y se eliminó el grupo de recursos, el cliente no sabe quién tiene la suscripción por lo que se quedó de su lado, en cuanto

[2022-10-31 17:14] rodmendoza07 commented on #18
Con el último correo damos por finalizado la fase de desarrollo. Por el momento el proyecto se pasa a Pausa

![Image](https://user-images.githubusercontent.com/18431533/199068178-f29e117f-2213-422f-9b5e-3b694f4cb18b.png)

[2022-10-31 17:14] rodmendoza07 commented on #20
Se tendrá sesión hoy a las 4:00 para terminar validaciones

[2022-10-31 21:35] Rambx commented on #60
@rodmendoza07
Hola adjunto imagen con comentarios de Comercial. pasa a Cerrado.  con fecha de hoy 31/10

![Image](https://user-images.githubusercontent.com/115195515/199114838-e1ad8dbd-1c26-4538-8223-d847c28694aa.png)

[2022-11-01 06:02] rramos9771 commented on #63
@rodmendoza07
Se creo la funcion de powershell que tiene bimbo con credenciales nuevas en tenant demo y funciono correctamente.

![MicrosoftTeams-image (20)](https://user-images.githubusercontent.com/96545484/199169033-34c26240-d7b3-4214-9e68-a6b0a4d7d3cf.png)
![MicrosoftTeams-image (21)](https://user-images.githubusercontent.com/96545484/199169036-286d7148-c4ce-4905-86c3-f0c2fc5b6329.png)

Con es

[2022-11-01 06:03] rramos9771 commented on #33
Se mando correo para informar de cierre del proceso de desarrollo

[2022-11-01 06:03] rramos9771 commented on #19
Se mando correo para informar de cierre del proceso de desarrollo

[2022-11-01 15:08] LuisAlbertoOvercast commented on #20
En la sesión del día de ayer se realizó la transferencia de conocimiento para la parte de administración, posible sesión el próximo lunes 7 de noviembre para determinar la liberación de la aplicación, de nuestra parte se trabajará en un manual para ser entregado

[2022-11-01 15:15] rodmendoza07 commented on #19
@rramos9771 / @Rambx

Por favor adjuntar imagen del correo que se mandó para el cierre de proyecto

[2022-11-01 15:17] rodmendoza07 commented on #64
@doriansmmm / @Rambx

¿Cuándo comenzó el desarrollo?

[2022-11-01 15:28] rramos9771 commented on #19
@rodmendoza07
![image](https://user-images.githubusercontent.com/96545484/199271846-827d5dc9-365b-450f-9f3c-e8dc31afb40a.png)

[2022-11-01 16:28] Rambx commented on #40
@rodmendoza07

Derivada del Day del 01/11 con Brenda y Miguel, comentan que estarán revisando con comercial si se implementaron los talleres para financiar la reimplantación del CC, nos darán seguimiento de avance

[2022-11-01 19:38] lalonso-dac commented on #37
el día 31/10/2022 se realizó una mentoria en la que entrenamos un modelo de reconocimiento de imagenes con AI Builder, seguido de ello realizamos pruebas para verificar el reconocimiento de imagenes y probar su exactitud

[2022-11-01 21:55] rramos9771 commented on #24
@rodmendoza07 @Rambx
De parte del nuevo entorno
ya se exportaron las aplicaciones y los flujos al nuevo
David se encargó de configurar y agregar a todos los usuarios de mibanco al nuevo entorno
surgió un error y se tuvo sesión con Microsoft para solucionarlo solo quedo de parte de david continuar con esta parte de los usuarios al entorno

El status de david es que solo se ha cargado a un usuario (

[2022-11-01 21:58] rramos9771 commented on #24
@Rambx @rodmendoza07

Por parte de la revision del funcionamiento de la app en el entorno nuevo surgio un error.
![image](https://user-images.githubusercontent.com/96545484/199349433-56343649-24e2-4a31-806d-58e8d01370fc.png)
La aplicacion no me deja cargar este flujo al cual si me compartieron
Pedire a consultoria una sesion con el usuario dueño del entorno para que ella cargue el flujo, si el err

[2022-11-02 14:58] kitoes commented on #23
![Image](https://user-images.githubusercontent.com/61427964/199523842-c4abd366-348b-43c0-8f40-53f3e67e3a96.jpg)
![Image](https://user-images.githubusercontent.com/61427964/199523843-a13e61f2-83e9-4f16-a61c-ca75eb6ed5d7.jpg)

Se actualizaron reportes 1,nn1,2,nn2,3,nn3,4,5,6,9,10,11

[2022-11-02 15:32] lalonso-dac commented on #37
Fechas de sesiones restantes de Power Apps

1.- 04/11/2022
2.- 07/11/2022
3.- 09/11/2022
4.- 11/11/2022

[2022-11-02 15:36] lalonso-dac commented on #37
@#la siesión del dia 04/11/2022  se va a tener acceso con la siguiente URL

@Rambx
[link a la sesión](https://teams.microsoft.com/l/meetup-join/19%3ameeting_ZjdmYTViMTYtNTQyMi00NTFmLWE0YjYtOGQ4YjgxOGU4Mjg5%40thread.v2/0?context=%7b%22Tid%22%3a%2235595a02-4d6d-44ac-99e1-f9ab4cd872db%22%2c%22Oid%22%3a%220ae3bfde-3cec-4526-98d1-f99f82521f1f%22%7d)

[2022-11-02 15:43] Rambx commented on #66
@rodmendoza07
 @lalonso-dac  confirma que puede ingresar a la cuenta, que proporciono el cliente.

[2022-11-02 15:50] hreyesoc commented on #10
Se ha tenido sesión con FIFCO para mostrar la resolución de los bugs 1, 3, 4, 6.
- Quedan pendientes por realizar 2, 5 y 7.

[2022-11-02 16:33] lalonso-dac commented on #66
@rodmendoza07 @Rambx

El acceso a la cuenta funciona

[2022-11-02 23:31] Rambx commented on #65
@rodmendoza07  @rramos9771

Primera sesión de la bolsa de horas 31/10
Segunda sesión de la bolsa  02/11

Total restante. 13 horas

[2022-11-03 07:41] rramos9771 commented on #63
@rodmendoza07 @Rambx
Se creo la funcion que crea los tres reportes en bimbo con el lenguaje de C#
Se guardo esta función como proyecto de visual studio en el siguiente repositorio:
https://github.com/OvercastmxDemo/Bimbo-Graph

La función se cargó en el tenant demo y está funcionando correctamente y lista para replicarse en otro tenant:
![image](https://user-images.githubusercontent.com/96545484/1

[2022-11-03 13:27] doriansmmm commented on #64
@rodmendoza07 comenzó en octubre del 2021 y se terminó en noviembre-diciembre de ese mismo año

[2022-11-03 13:31] doriansmmm commented on #64
@rodmendoza07 esta aplicación fue inversión directa del cliente

[2022-11-03 13:44] doriansmmm commented on #23
@rodmendoza07 de los puntos acordados para entregar ya tengo listos los siguientes:

![Image](https://user-images.githubusercontent.com/100003393/199736894-79a0193d-91e8-445b-8d0b-508c693517b6.png)

[2022-11-03 15:26] LuisAlbertoOvercast commented on #3
El día de ayer se tuvo sesión con el cliente para hablar acerca de los siguientes pasos con respecto a este tema, se agotaron todas las alternativas dadas por Microsoft, en espera de respuesta de cliente, se mandará correo a soporte para comentar que las soluciones no cumplieron con las expectativas.

[2022-11-03 15:29] LuisAlbertoOvercast commented on #31
se han terminado los cambios que presento el cliente, en espera de su validación

![Image](https://user-images.githubusercontent.com/101677829/199763920-ae0edd79-05e7-4406-97cf-32443262d70b.png)

[2022-11-03 15:34] kitoes commented on #23
@rodmendoza07  @doriansmmm  Se terminaron reportes 7 y 8 y se corrigieron detalles de los anteriores

![Image](https://user-images.githubusercontent.com/61427964/199764755-9856d93a-7a21-4084-83df-c17489e98f05.jpg)

[2022-11-03 15:36] doriansmmm commented on #23
@kitoes chulada!!!

[2022-11-03 22:34] lalonso-dac commented on #18
@rodmendoza07

Manuel De Cinépolis comparte puntos para corregir  el día 03/11/2022

1. No filtra por mis gerentes, me deja ver todos los u+A13:A21suarios.
2. No filtra por tipo de auditoria (me permite ver todas y seleccionar de otras regiones)
3. No indica a que se refiere el reactivo de (Si y No)
4. Buscar Cine, solo me permite seleccionar todos y datos dummy
5. Area me muestra opciones repetid

[2022-11-03 22:38] lalonso-dac commented on #66
@rodmendoza07
Se creó:

-diagrama de alto nivel para la solución
-la estimación de tiempos por actividad
-Pantallas en figma de la solución

[Propuesta diagrama de alto nivel.pdf](https://github.com/OvercastmxDemo/DevProjects/files/9933445/Propuesta.diagrama.de.alto.nivel.pdf)

estimación de tiempos

![Image](https://user-images.githubusercontent.com/88047449/199847734-fa25d137-0912-4d99-89c5-89e7

[2022-11-04 15:22] doriansmmm commented on #23
Los siguientes puntos que dicen "listo" son los que se van a mostrar en la sesión:

47 - listo
49 - listo
50 - listo
51 - listo
52 - listo
53 -
54 -
56 -
62 -
69 - listo
70 - listo
91 - listo
96 -
102 - listo
103 -
104 - listo
105 -

[2022-11-04 17:51] LuisAlbertoOvercast commented on #6
@rodmendoza07 @Rambx

Se tuvo sesión con cliente para refinar los requerimientos, salieron cambios, dentro de los cuales se les hará llegaran en la minuta los accionables, realizare la POC para el flujo automático con correo y presentarlo el lunes-miércoles

@Rambx realizara los cambios al diagrama con los puntos que salieron el día de hoy con el cliente

[2022-11-04 20:16] Rambx commented on #6
@rodmendoza07  @rramos9771

Les comparto el GO de Maidem...

![Image](https://user-images.githubusercontent.com/115195515/200066535-1fdab195-57fe-41f4-acd1-21c3cf0d3111.png)

[2022-11-07 15:43] hreyesoc commented on #10
2da Sesión con FIFCO: Se revisaron los avances de los puntos pendientes (2,5,7). El punto 2 y 5  aún no están solucionados, se esta trabajando en ello y sigue pendiente de revisar los avances. El punto 7 se esta modificando a como lo pidió el cliente.

[2022-11-07 17:07] Rambx commented on #63
@rramos9771  @kitoes  C.C. @rodmendoza07

comparto la contraseña de Bimbo

![Image](https://user-images.githubusercontent.com/115195515/200371329-c05a444b-d33f-4c83-9682-15f3c76defdf.png)

[2022-11-08 15:30] lalonso-dac commented on #37
el día 07/11/2022 se realizó sesión en la que
-se creó un modelo con la herramienta **Lobe.ai**.
-se creó un modelo etiquetando imagenes de una persona tomando agua, para detectar este patron,
-se explicó de forma general el funcionamiento de Yammer, haciendo publicaciones, entre otras funcionalidades
-se creó un flujo para obtener el texto de las publicaciones y calcular con **Yammer** si la publ

[2022-11-08 15:32] lalonso-dac commented on #18
07/11/2022
Se le pidió a Manuel de Cinépolis documentar los bugs presentados ya que no eran específicos,
Se recibieron los detalles con imágenes

[2022-11-08 15:46] Rambx commented on #12
@rodmendoza07  @doriansmmm
Les comparto que nos dieron GO para empezar a desarrollar la aplicación .

![Image](https://user-images.githubusercontent.com/115195515/200610685-1af54cf3-be8e-40b8-aa1d-9776b7197741.png)

[2022-11-09 17:55] LuisAlbertoOvercast commented on #40
![Image](https://user-images.githubusercontent.com/101677829/200904415-10382439-7132-4874-99bf-1e57364fa932.png)

aun no se inicia con la reimplementación del Companys, el cliente tiene algunos problemas que le toca resolver

[2022-11-09 18:02] LuisAlbertoOvercast commented on #3
El día de ayer para la parte de bloquear la creación comunidades, se tuvieron problemas con la cuenta de Mabe, el cliente quedo de su lado consultar quien realizo esa configuración, de nuestro lado se levantó ticket con Microsoft con ayuda de David:

se tuvo sesión con Microsoft y dijo que lo iban a revisar, folio del ticket levantado por David: **33769347**

![Image](https://user-images.githubuse

[2022-11-09 18:05] LuisAlbertoOvercast commented on #20
Se tuvo sesión con cliente el día de ayer y se envió la memoria técnica, el cliente realiza pruebas piloto con sus usuarios, nos van a confirmar la fecha en la cual realizaran estas pruebas

[2022-11-10 17:38] hreyesoc commented on #10
3ra Sesión con FIFCO: Se revisaron avances de los puntos pendientes (2,5,7). Se soluciono el punto 5 y se mostro al cliente, se esta trabajando en los puntos restantes. Durante la sesión el cliente menciono los siguientes bugs:

Pendientes:

	- Bug 1: Alguien ya había apartado una sala en un horario. Pero quiso volver a apartar la sala en otro horario anterior y no la dejaba. En el administrador s

[2022-11-10 17:39] hreyesoc commented on #11
Se ha tenido sesión con FIFCO para mostrar la resolución de los bugs 1, 3, 4, 6.

Quedan pendientes por realizar 2, 5 y 7.

[2022-11-10 17:40] hreyesoc commented on #11
2da Sesión con FIFCO: Se revisaron los avances de los puntos pendientes (2,5,7). El punto 2 y 5 aún no están solucionados, se esta trabajando en ello y sigue pendiente de revisar los avances. El punto 7 se esta modificando a como lo pidió el cliente.

[2022-11-10 17:40] hreyesoc commented on #11
3ra Sesión con FIFCO: Se revisaron avances de los puntos pendientes (2,5,7). Se soluciono el punto 5 y se mostro al cliente, se esta trabajando en los puntos restantes. Durante la sesión el cliente menciono los siguientes bugs:

Pendientes:

	- Bug 1: Alguien ya había apartado una sala en un horario. Pero quiso volver a apartar la sala en otro horario anterior y no la dejaba. En el administrador s

[2022-11-11 23:14] rramos9771 commented on #34
@rodmendoza07  y @Rambx
El día de hoy se mandó correo a javier y cralos para notificar el inicio de la transferencia de conocimientos y proceder a la fase de soporte.

![image](https://user-images.githubusercontent.com/96545484/201443004-c5c29528-68a9-400e-b4f8-91e867438e58.png)

[2022-11-11 23:17] rramos9771 commented on #33
Hola @rodmendoza07 y @Rambx  a partir del 28/10/2022 inicia la fase de soporte
Se envió correo de notificación al cliente el 31/10/2022.

![image](https://user-images.githubusercontent.com/96545484/201443229-3c037daf-49ff-4e80-a902-f566c791dfda.png)

[2022-11-14 16:19] lalonso-dac commented on #37
El día 14/11/2022 se realizó la ultima sesión de mentoria, en la que se resolvieron dudas cone apoyo de Luis Alberto tzun en Virtual Agents, power automate y sharepoint, dando por finalizadas las sesiones de mentorias

[2022-11-14 17:25] Rambx commented on #37
@rodmendoza07 @lalonso-dac
Comparto el correo que envié al cliente

![Image](https://user-images.githubusercontent.com/115195515/201725740-7fc2cd94-bab3-4a7d-8791-a02569f1b47c.png)

[2022-11-16 22:32] Rambx commented on #40
@rodmendoza07  @LuisAlbertoOvercast
 Comparto la contestación de Mario para ejecutar la actividad del Administrador de Azure

![Image](https://user-images.githubusercontent.com/115195515/202308832-7bf98c64-e880-403b-8ae6-f165c2fd93e5.png)

[2022-11-16 23:53] LuisAlbertoOvercast commented on #3
El de hoy se hizo la implementación del flujo en la comunidad que faltaba, (club de lectura), gio me confirma que ya son todas las comunidades de base.

![Image](https://user-images.githubusercontent.com/101677829/202320092-db8df824-3393-4ba5-9e4d-f25121ba87ec.png)

 revisar si ya se puede cerrar este proyecto @rodmendoza07   @Rambx  o pasar a soporte

[2022-11-17 17:46] LuisAlbertoOvercast commented on #40
Status @rodmendoza07  @Rambx

El dia de hoy se tuvo sesión con Mario del equipo FRD:

- La cuenta que tiene la suscripción estaba perdida, se realizo una transferencia el día ayer entre la cuenta pasada y la nueva cuenta, este proceso tarda de 24 a 72 horas, , ellos nos avisaran cuando este listo para realizar la implementación
- Nos va a apoyar a comentarle a Brenda FRD la razón por la cual aun n

[2022-11-17 17:49] LuisAlbertoOvercast commented on #25
Status @Rambx  @rodmendoza07

- El equipo de Mabe nos va ayudar a subir la aplicación de Vive Mabe, se envío un correo con las instrucción de como realizarlo ya que el administrador global no se encontraba en la Reunión, se acordó que ellos lo realizarían, por lo tanto necesitaban las instrucciones.
- El equipo Mabe nos enviara los usuarios que serán administradores en la aplicación,
- Se agregaro

[2022-11-23 17:30] hreyesoc commented on #11
4ta Sesión con FIFCO: Se mostró la solución de los bugs, quedo pendiente de su lado probar la aplicación. También quedo resuelto el punto 7.

[2022-11-23 17:49] Rambx commented on #17
@rodmendoza07  @doriansmmm  @rramos9771  @lalonso-dac
Listo, tenemos GO del desarrollo

![Image](https://user-images.githubusercontent.com/115195515/203615051-65cf009b-735a-448c-8950-17bb09291b9b.png)

[2022-11-29 06:04] rramos9771 commented on #14
La aplicacion completa hasta el spring 3 esta lista, con envio a yammer solo con texto en la publicacoin, si actaulizan yammer se podra enviar imagen en los post.

[2022-11-29 06:04] rramos9771 commented on #65
El flujo esta creado, solo es cuestion de presentarselo al cliente

[2022-11-29 16:34] Rambx opened #69 "Laboratorios Sofia"

[2022-11-29 20:55] rodmendoza07 opened #70 "Apex - Tracking de horas"
Aplicación de tracking de horas para proyectos y actividades operativas

https://sifragc.sharepoint.com/:p:/s/ProyectosCross/EaaWEWVnzB1NmSvsU07u7xUBxAw9AUs1Vow0juNcR0Mjtw?e=lkDSnX

[2022-11-29 20:57] rodmendoza07 commented on #37
@Rambx

Ya se puede cerrar el proyecto??

[2022-11-29 23:18] rodmendoza07 commented on #69
@LuisAlbertoOvercast  y @Rambx

Por favor agreguen una descripción al proyecto

[2022-11-29 23:21] rodmendoza07 commented on #16
@rramos9771 / @Rambx

Por favor actualizar esta tarjeta con los últimos comentarios sobre la PoC

[2022-11-29 23:22] rodmendoza07 commented on #9
@Rambx

¿ya lo podemos cerrar?

[2022-11-29 23:23] rodmendoza07 commented on #5
@Rambx

Ayúdame a checar si hay confirmación de comercial para el inicio del proyecto

[2022-11-29 23:25] rodmendoza07 commented on #29
@rramos9771 por favor tus anotaciones sobre este tema

[2022-11-29 23:25] rodmendoza07 commented on #13
@Rambx

¿Cuándo es la siguiente sesión?

[2022-11-29 23:26] rodmendoza07 commented on #67
@Rambx

Por favor checar con comercial el status de esta propuesta

[2022-11-29 23:27] rodmendoza07 commented on #66
@Rambx

Por favor checar con comercial el status de esta iniciativa

[2022-11-29 23:27] rodmendoza07 commented on #68
@doriansmmm @Rambx

Por favor sus comentarios sobre bugs y reuniones que se han tenido con el cliente

[2022-11-29 23:29] rodmendoza07 commented on #43
@Rambx

Por favor verificar con comercial el status de esta iniciativa

[2022-11-29 23:30] rodmendoza07 opened #71 "Dos Pinos - Project Accelerator"
Implementación de project accelerator

https://techcommunity.microsoft.com/t5/project-blog/introducing-the-project-accelerator/ba-p/2201000

[2022-11-29 23:32] rodmendoza07 commented on #4
@doriansmmm / @Rambx

¿Ya podemos cerrar este proyecto?

[2022-11-29 23:33] rodmendoza07 commented on #3
@LuisAlbertoOvercast / @Rambx

¿Tenemos algún documento que avale que el desarrollo fue finalizado?, sí si lo tenemos entonces lo moveremos a soporte

[2022-11-29 23:34] rodmendoza07 commented on #8
@kitoes / @Rambx

¿Cómo vamos?

[2022-11-29 23:36] rodmendoza07 commented on #6
@Rambx / @LuisAlbertoOvercast

Por favor mantener actualizada esta tarjeta con los comentarios y documentaciones que se han hecho hasta el momento

[2022-11-29 23:37] rodmendoza07 commented on #14
@rramos9771 / @kitoes / @Rambx

Por favor sus comentarios hasta el momento

[2022-11-29 23:39] rodmendoza07 commented on #24
@rramos9771 / @Rambx

¿Qué ha pasado, ya la podemos cerrar?

[2022-11-29 23:39] rodmendoza07 commented on #17
@Rambx

Por favor tus comentarios de actualización hasta el momento

[2022-11-29 23:40] rodmendoza07 commented on #12
@doriansmmm / @Rambx

Por favor sus comentarios de actualización hasta el momento

[2022-11-29 23:41] rodmendoza07 commented on #28
@Rambx

¿Qué ha pasado, ya la podemos cerrar?

[2022-11-29 23:42] rodmendoza07 commented on #20
@LuisAlbertoOvercast / @Rambx

¿Qué ha pasado, ya la podemos cerrar?

[2022-11-29 23:46] rodmendoza07 commented on #27
@LuisAlbertoOvercast / @Rambx

¿Qué hacemos lo cerramos ya?

[2022-11-29 23:47] rodmendoza07 commented on #25
@LuisAlbertoOvercast / @LuisAlbertoOvercast

¿Cómo vamos? ¿ya se puede cerrar o cuál es el status?

[2022-11-29 23:48] rodmendoza07 commented on #23
@kitoes / @doriansmmm

Por favor actualización de este proyecto

[2022-11-29 23:49] rodmendoza07 commented on #21
@Rambx / @LuisAlbertoOvercast

¿Ya lo cerramos o cuál es el status?

[2022-11-29 23:50] rodmendoza07 commented on #30
Este desarrollo lo estará atendiendo Vlad con su equipo, por tal motivo se cierra el soporte

[2022-11-29 23:50] #30 closed, assigned to rodmendoza07, Rambx

[2022-11-29 23:51] rodmendoza07 commented on #34
@Rambx / @Rambx

¿Cómo vamos, ya lo podemos cerrar?

[2022-11-29 23:52] rodmendoza07 commented on #63
@kitoes / @rramos9771

Por favor status de cómo vamos

[2022-11-29 23:53] rodmendoza07 commented on #19
@Rambx / @rramos9771

¿Ya lo podemos cerrar?

[2022-11-29 23:54] rodmendoza07 commented on #64
@doriansmmm / @Rambx

¿Ya podemos cerrar esta fase?

[2022-11-30 00:02] rramos9771 commented on #24
Siguen configurando el entorno con david y mario
pero el desarrollo tal cual esta echo

[2022-11-30 17:51] LuisAlbertoOvercast commented on #40
El día de hoy se realizó la implementación y pruebas en equipo de teams, Mario de FRD tiene los zips y las credenciales en un excel,
todo salió correcto en las pruebas realizadas:

- envio de comunicado a un equipo
- envio de comunicado a miembros de un equipo
- metricas nativas de la herramienta
- descarga de reportes por Excel de los comunicados

objetivos para la próxima sesión:

- hacer el anc